<div class="row  navbar-toggleable-md">
  <button class="navbar-toggler text-filter navbar-toggler-center btn-filters" type="button" data-toggle="collapse" data-target="#FilterColapse">
    Filtrar
    <i class="fa fa-sort-desc" aria-hidden="true"></i>
  </button>
  <div id="FilterColapse" class="col-12 navbar-collapse collapse">
    <div class="row">


      <div class="card top">
        <div style="width: 100%;">
          <h5 class="card-header">Filtros</h5>
        </div>

        <div class="card-body">
          <div class="row justify-content-md-center">
            <div class="col-12 text-center align-self-end">
              <div class="row">
                <div class="col-md6">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <div class="col-md6" style="float: lefth">
                  <h5 class="card-title color-text-title" style="">Nombre del hotel</h5>
                </div>
              </div>
              <input class="form-control" type="text" placeholder="Buscar producto">
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row justify-content-md-center">
            <div class="col-12 text-center align-self-end">
              estrellas
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>