<div class="row top-filters navbar-toggleable-md">
  <button class="navbar-toggler text-filter navbar-toggler-center btn-filters" type="button" data-toggle="collapse" data-target="#FilterColapse">
    Filtrar  
    <i class="fa fa-sort-desc" aria-hidden="true"></i>
  </button>
  <div id="FilterColapse" class="col-12 navbar-collapse collapse">
    <div class="row justify-content-center top-general">

        <!-- <h5 class="card-header">Filtros</h5>
      <div class="card">
        <i class="fa fa-search  text-filter" aria-hidden="true"></i>
        <h5 class="card-header text-filter">Nombre de hotel</h5>
        <div class="card-body">
          <div class="input-group"></div>
          
        </div>
      </div>  -->

      <!-- <div class="row justify-content-center">
          <div class="col-11">
            <div class="row" >
              <div class="col-9">
                  <i class="fa fa-search  text-filter" aria-hidden="true"></i>
                  <h5 class="card-header text-filter">Nombre de hotel</h5>
              </div>
              <div class="col-3 col-lg-2 text-center align-self-center">
                <i class="fa fa-fw fa-minus"></i>
              </div>
            </div>
          </div>
        </div> -->
        <div  class="row justify-content-center" style="border: 1px solid red">
sdfsdf
        </div>
  
    </div>
  </div>
</div>