<div class="row">
  <ng-container *ngIf="hotels.length">
    <div class="col-md-12" *ngFor="let hotel of hotels">
      <div class="card top">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="div-image">
              <img class="card-img-top img-fluid" style="padding:5px; height: 100%; width: 100% !important" src="../../assets/images/hotels/{{hotel.image}}"
                [alt]="hotel.name">
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="card-block div-hotel-name">
              <h5 class="card-title color-text-title font-hotel-name">{{hotel.name}}</h5>
              <app-stars-rating [stars]="hotel.stars"></app-stars-rating>
              <app-amenities [amenitie]="hotel.amenities" class="amenities"></app-amenities>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="card-footer text-muted" style="background-color: white">
              <div class="row justify-content-md-center">
                <div class="col-12 text-center align-self-end">
                  <div class="row">
                    <div class="col-12">
                      <label class="text-description col-md-8">Precio por noche por habitación</label>
                    </div>
                    <div class="col-12">
                      <label class="ars-hotel">ARS</label>
                      <label class="price-hotel">{{hotel.price}}</label>
                    </div>
                  </div>
                  <button type="button" class="col-md-8 offset-md-2 button btn btn-outline btn-block col" (click)="viewHotel(hotel._id)">
                    <label class="see-hotel"> Ver hotel</label>
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!hotels.length">
    <div class="col-md-12 top">
      <h5 class="color-text-title" style="font-size:23px;">No se encontraron resultados.</h5>
    </div>
  </ng-container>
</div>

<div #modalContainer></div>